/* ------------------------------------------------------------ *\
	Filters
\* ------------------------------------------------------------ */

.filters {
	h4 {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 5px;
		margin-right: 36px;
	}

	.list-checkboxes {
		display: inline-block;
		vertical-align: top;
	}
}
