/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	padding: 21px 0;
	background-color: transparent;
	transition: background .3s;

	// @media #{$mobile} {
	// 	padding: 15px 0;
	// }

	&.fixed {
		// @media #{$mobile} {
		// 	position: fixed;
		// 	background: rgba(0, 0, 0, .6);
		// }
	}

	.header__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}
}
