/* ------------------------------------------------------------ *\
	Map
\* ------------------------------------------------------------ */

.map-outer {
	.map__address {
		margin-bottom: 0;
		opacity: .8;
	}
}

.map {
	margin-bottom: 8px;

	iframe {
		// @media #{$mobile} {
		// 	width: 100%;
		// }
	}
}
