/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {
	box-sizing: border-box;
	color: rgb(41, 127, 202);
	display:block;
	font-family:Roboto, sans-serif;
	font-size:16px;
	font-weight:400;
	height:413px;
	line-height:24px;
	outline-color:rgb(41, 127, 202);
	outline-style:none;
	max-width: 360px;

	text-align:left;

	.form__head {
		margin-bottom: 34px;

	}
	.form__body {
		margin-bottom: 34px;

		p{
			color:white;
			float:left;
		}
	}
}
