/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell {
	max-width: 950px;
	margin: 0 auto;
	padding: 0 15px;

	&--large {
		max-width: 1170px;
	}
}
